$yellow: #F5D90A;

*{
  box-sizing:border-box;
}

body {
  margin:0;
  padding: 0;
  min-height: 100vh;
  color: white;
  background: #151718;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #iconBurger{
    height:2rem;
    width:2rem;
  }

  p{
    color: #ECEDEE;
    margin:0;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
  }

  #app{
    font-family: 'Plus Jakarta Sans', sans-serif;
    
    #header-app{
      padding: 1.7rem 2rem 0;
    }

    section{
      padding:2.5rem 2rem 4rem;
    }
  }


  @supports(font-variation-settings: "wght" 500){
    #app {
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
  }
  
  button{
    cursor: pointer;
    border:none;
    background:transparent;
  }
  
  ul{
    list-style-type: none;
  }
  
  a{
    text-decoration:none;
    font-size: 0.9rem;
  }
  
  .yellow{
    color: #F5D90A;
  }
  
  h2, h3{
    color: $yellow;
  }
  
  .date{
    color: #9BA1A6;
    font-size: 1.1rem;
  }
  

  footer{
    padding: 4.5rem 0 4rem;
    background-color: #1A1D1E;
    border-top: 1px solid #3A3F42;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    #footer-linkList{
      margin:0;
      width: 100%;
      
      &:first-of-type{
        padding: 0 2rem;
      }

      .footer-linkGroup:last-of-type .footer-links{
        padding-bottom: 0;
      }

      .footer-linkGroup{
        font-weight: 600;
        font-size: 1.3rem;
        color:#ECEDEE;

        .footer-links{
          padding: 1rem 0 2rem;

          a{
            color:#ECEDEE;
            font-size: 1.1rem;
            font-weight: 300;
            line-height: 2.2;

            img{
              vertical-align:text-bottom;
            }
          }
        }
      }
    }

    div{
      #footer-logo{
        background-color: $yellow;
        color: #151718;
        width: 12rem;
        height: 3.5rem;
        padding: 1rem 1rem;
      }
      text-align: center;
    }
  }
}

