body{
  #app{
    #header-app{
      ul{
        align-items: center;
      }
    }
    #section-intro{
      padding: $paddingTablet;
      flex-wrap: nowrap;
      align-items: center;

      div{
        font-size: 1rem;
        padding: 40px 0;
        width:389px;
      }

      #img-intro{
        max-width: 53%;
        height:fit-content;
        margin-top: 0;
        position: static;
      }
    }

    #section-news{
      padding: $paddingTablet;
      grid-template-columns: repeat(2, minmax(342px, 420px));
      column-gap: 48px;

      div:first-child{
        max-width:420px;
        justify-self: center;
      }

      article{
        row-gap: 16px;
        padding: 20px 20px 0;

        .cardHeading{
          h3{
            font-size: 1.2rem;
          }
        }
      }
    }
      #section-info {
        @media screen and(max-width:1024) {
          padding-inline: 200px;
        }

        div{
          width: 512px;
        }
      }

    #section-statistics{
      column-gap: 130px;
    }

    footer{
      @media screen and (max-width: 1024px) {
        padding: $paddingTablet;
      }
  
      #footer-linkList{
        justify-content: center;
        align-self: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 280px));
        column-gap: 5px;

        .footer-linkGroup{
          width:220px;
        }
      }
      @media screen and (max-width: 1024px) {
        #footer-contact{
          width: 640px;
          column-gap: 10px;
          padding: 0;
            li{
              &:not(:last-child):not(:nth-child(3))::after{
                @include afterSlash();
                margin-left: 12px;
            }
          }
          &:last-child{
            padding: 0;
          }
        }
      }
    }
  }
}

