body{
  #app{
    #header-app{
      ul{
        align-items: center;
      }
    }
    #section-intro{
      padding: $paddingTablet;
      display: grid;
      padding-bottom: 0;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      column-gap: 20px;
      max-width:100vw;

      div{
        grid-column: 1 / span 3;
        font-size: 1rem;
      }

      #img-intro{
        grid-column: 4/span 10;
        width:100%;
        height:fit-content;
        margin-top: 0;
      }
    }

    #section-news{
      padding: $paddingTablet;
      grid-template-columns: 1fr 1fr;
      column-gap: 48px;

      div:first-child{
        max-width:420px;
        justify-self: center;
      }

      article{
        row-gap: 16px;
        padding: 20px 20px 0;

        .cardHeading{
          h3{
            font-size: 1.2rem;
          }
        }
      }
    }
    #section-info {
      padding: $paddingTablet;
      grid-template-columns: repeat(auto-fill, 512px);

      div{
        width: 512px;
      }
    }

    #section-statistics{
      padding: $paddingTablet;
      margin-bottom: 64px;
      column-gap: 32px;
    }

    footer{
      padding: $paddingTablet;

      #footer-linkList{
        justify-content: center;
        align-self: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 32px;
      }
      @media screen and (max-width: 1024px) {
        #footer-contact{
          width: 640px;
          column-gap: 10px;
          padding: 0;
            li{
              &:not(:last-child):not(:nth-child(3))::after{
                @include afterSlash();
                margin-left: 12px;
            }
          }
          &:last-child{
            padding: 0;
          }
        }
      }
    }
    #cookies{
      position: fixed;
      width: 479px;
      right: 3.5px;
      justify-content: start;
      column-gap: 8px;
      padding: 32px;
    }
  }
}

